body{
    background-color: rgb(210, 255, 255);
    padding: 0.75em ;
}


h1 {
    font-size: 3em;
    text-align: center;
    background: radial-gradient(rgb(255, 150, 150), rgb(150, 150, 255), rgb(150, 255, 150));
    text-shadow: rgb(255, 204, 0) 1px 0 10px;
}

.container{
    text-align: center;
}

input{
    background-color: rgb(180, 220, 255);
    border-style: none;
    padding: 0.75em;
}

button{

    background-color: rgba(255, 130, 130, 0.69);
    border: none;
    padding: 0.75em;    
}